<mat-grid-list cols="1" *ngIf="!mostrarHeroe; else divHeroe"> 
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
<div fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="30px">

    <div fxFlex="20"
        fxFlex.lg="15"
        fxFlex.sm="30">
        <h2>{{mostrarHeroe.superhero}}
            <small>- {{mostrarHeroe.alter_ego}}</small>
            <mat-divider></mat-divider>
        </h2><br>
        <img [src]="mostrarHeroe | imagen" alt="Heroe" onError="this.src='assets/no-image.png'">
    </div>

    <div fxFlex="50">
        <h2>{{mostrarHeroe.publisher}}</h2>
        <mat-divider></mat-divider>

        <mat-list>
            <mat-list-item>{{mostrarHeroe.first_appearance}}</mat-list-item>
            <mat-list-item>{{mostrarHeroe.characters}}</mat-list-item>
            <mat-list-item>{{mostrarHeroe.publisher}}</mat-list-item>
            <mat-list-item>{{mostrarHeroe.alter_ego}}</mat-list-item>
        </mat-list><br>
        
        <button mat-button 
                color="accent"
                (click)="regresar()">
            Regresar
        </button>
    </div>
</div>
</ng-template>
