<mat-card >
    <mat-card-header>
        <mat-card-title>{{listarHeroes.superhero}}</mat-card-title>
        <mat-card-subtitle>{{listarHeroes.alter_ego}}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="listarHeroes | imagen" onError="this.src='assets/no-image.png'" alt="heroe imagen">

    <mat-card-content>
        <h3>{{listarHeroes.publisher}}</h3>
        <p>
            <strong>Primera aparición: </strong>{{listarHeroes.first_appearance}} <br>
            <strong>Personajes: </strong>{{listarHeroes.characters}} <br>
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="accent" [routerLink]="['/heroes', listarHeroes.id]">
            Más información...
        </button>

        <button mat-stroked-button 
        color="accent" mat-icon-button
        [routerLink]="['/heroes/editar', listarHeroes.id]">
            <mat-icon>edit_square</mat-icon>
            Editar
        </button>
    </mat-card-actions>
</mat-card>